# Pulumi state and secrets
*.state
*.stack
pulumi.stack.json
pulumi.<stack-name>.state
pulumi.<stack-name>.json
*.tfstate
*.tfstate.backup
.pulumi/
*.tfplan

# Python dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
myenv/
.venv/
.Python

*/*/path

# Docker & build artifacts
Dockerfile
.dockerignore
*.log
*.bak

# IDE/Editor specific files
.vscode/
.idea/
*.swp

# Pulumi SDKs and binaries
pulumi-bin/